awscli==1.22.55
numpy==1.22.3
scikit-bio==0.5.7
biopython==1.79
ipywidgets
jupyter_contrib_nbextensions
nbconvert==6.5.0
openpyxl==3.0.3
xlrd==1.2.0
statsmodels==0.13.2
WeasyPrint==54.2
onecodex[all,reports]==0.10.0
taxonomy==0.8.1
widgetsnbextension
